{% extends 'adminpanel/base.html' %}
{% load static %}

  
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'adminpanel/css/orders.css' %}">

{% endblock %}

{% block content %}
<div class="order-admin">
  
  <!-- Orders List Table -->
    <h2 class="heading-with-lines"> Orders List</h2>
    <br>
   <div class="search-container">
  <label for="searchOrderInput">Search User Name</label>
<input type="text" id="searchOrderInput" placeholder="Search by user "></div> <br>
  <table id="orderTable">
    <thead>
      <tr>
<tr>
  <th>Order ID</th>
  <th>User</th>
  <th>Full Name</th>
  <th>Phone</th>
  <th>Address</th>
  <th>Payment</th>
  <th>Status</th>
  <th>Total</th>
  <th>Date</th>
  <th>Actions</th>
</tr>    </tr>
    </thead>
    <tbody id="orderTableBody">
      <!-- Fetched data will appear here -->
    </tbody>
  </table>

  <div id="paginationControls">
  <button id="prevBtn">⏮ Previous</button>
  <span id="pageInfo"></span>
  <button id="nextBtn">⏭ Next</button>
</div>
</div>
{% endblock %}
